body {
    background-color: #fefdf7;
    color: #212121;
    font-family: Pacifico;
}

h1,
h2,
h3,
h4{
    color:  #9C27B0;
}

img{
    border-radius: 50px;
    border: 1px solid #fefdf7;
    padding: 80px;
    height: auto;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}