body {
    background-color:#c0ebf7;
    color: #212121;
    font-family: Pacifico;
}

h1,
h2,
h3,
h4{
    color: #27bdce;
    padding-left: 4%;
    padding-right: 4%;
    text-decoration: double;
}

ul,ol{
    color: #524dab;
    padding-left: 8%;
    padding-right: 4%;
}

a{
    color: #3db4ff;
    text-decoration: double;
}